* {
  margin: 0;
  padding: 0;
}
body {
  background: #efefef;
}
.page {
  display: flex;
  padding: 10px;
}
main {
  border: 1px solid salmon;
  padding: 10px;
  margin-right: 2px;
}
aside {
  border: 1px solid teal;
  padding: 10px;
}
